.navigation {
             display: flex;
             justify-content: space-between;
             height: 100px;

}

.logo {
    width: 23%;
    height: 750px;
    padding: 1%;
    text-align: left;
}

a{
  text-decoration: none;
}

nav {
     display: flex;
}

.resumeButton {
       height: 50px;
       width:  200px;
       background-color: #0069BF;
       color: white;
       font-family: Montserrat;
       border-radius: 5px;
       box-shadow: none;
       border: none;
       margin-left: 25%;
       margin-top: 25px;
}

 .resumeButton:hover{
     background-color: #02498A;
}

 a:hover{
     color: #02498A;
}



.herolmg {
          display: flex;
          height: 400px;
          padding: 25px;   
          justify-content: space-around;      
}

.myWork {
          justify-content: space-around;
}

.appsImg {
           margin-left: 33%;
}
.text {
       font-family: Montserrat;
}
.apps{
          display: flex;
          background-color: white;  
          justify-content: center;
}

.mySkills {
          height: 400px;
          padding: 25px;
          background-color: #E7ECFA;    
          justify-content: space-around;

}

.illus {
          display: flex;
          background-color: #E7ECFA;    
          justify-content: space-around;
}

.card {   display: flex;
          background-color: white;
          width: 300px;
          flex-direction: column;
          justify-content: space-between;
}

nav a {
    padding: 50px;
    font-size: 20px;
    font-family: Alegreya;
    color: #0069BF;
}

footer {
        background-color: #0069BF;
        padding: 50px;
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: center;
}

footer a {  display: inline-block;
            vertical-align: top;
            padding: 50px;
            justify-content: space-between;
            color: white;
}

body {
      margin: 0px;
      width: 100%;
}

h1 {
    font-size: 30px;
    font-family: Alegreya;

}
li {
    font-size: 20px;
}

ul {
    margin-top: 0px;
    justify-content: top;
}

h2 {
    font-size: 25px;
    text-align: center;
}

h5 {
    text-align: center;
}

